<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>users</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="phrases">
		<!-- @todo: need to finish search bar -->
		<!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
		<!-- // @todo: convert to ion-list -->
		<!--<ion-list>-->
			<!--<button ion-item *ngFor="let item of items" (click)="itemSelected(item)">-->
				<!--{{ item }}-->
			<!--</button>-->
		<!--</ion-list>-->
		<div class="row header">
			<div class="col">Site</div>
			<div class="col">Email</div>
			<div class="col">Password</div>
			<div class="col"></div>
		</div>
		<div class="row" *ngFor="let pr of phrases">
			<div class="col">{{pr.site}}</div>
			<div class="col">{{pr.user}}</div>
			<div class="col"><input type="password" value="{{pr.pword}}" /><a class="show" href="#">{{showHide}}</a> </div>
		</div>
	</div>
	<form *ngIf="!phrases" #loginForm="ngForm" (ngSubmit)="getUserLogin(loginForm)">
		<ion-list>
			<ion-item>
				<ion-label fixed>Username</ion-label>
				<ion-input type="text" name="username" id="username" ngModel></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>Password</ion-label>
				<ion-input type="password" name="password" id="password" ngModel></ion-input>
			</ion-item>

		</ion-list>
		<button type="submit">Sign Up</button>
	</form>
</ion-content>
